---
layout: layouts/base.ejs
---

<article class="post">
  <header>
    <h1 class="font-bold text-3xl text-center"><%= title %></h1>
    <div class="text-gray-600 text-center">
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </div>
  </header>
  <section class="pt-3 pb-3 prose mx-auto">
    <%- content %>
  </section>
  <footer class="mb-12 mt-2 pt-2 border-t">
    <a href="/">Back to home</a>
  </footer>
</article>
