@tailwind base;

a {
  @apply text-blue-700 underline font-bold;
}

pre {
  @apply max-w-screen-md;
}

.prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  @apply font-sans;
}

.prose code::before, .prose code::after {
  display: none;
}

.prose a.header-anchor {
  @apply opacity-25 no-underline;
  float: left;
  padding-top: 0.5em;
  margin-left: -27px;
  padding-right: 4px;
  line-height: 1;
  box-sizing: border-box;
  font-size: 16px;

  visibility: hidden;
}

.prose :hover a.header-anchor {
  visibility: visible;
}

@tailwind components;
@tailwind utilities;

.prose code {
  @apply text-sm font-normal font-mono;
  background-color: rgba(27,31,35,.05);
  padding: .2em .4em;
  border-radius: 3px;
}
